{% extends 'base.html.twig' %}

{% block title %}Services and Usages!{% endblock %}

{% block body %}
    <h1 class="text-4xl">Subscribed services</h1>

    {% set usedServices = [] %}


    {% for usage in user.usages %}
        {% set usedServices = usedServices|merge([usage.service.name]) %}

        <div class="border-b">
            <div class="inline-block w-1/5 text-3xl">
                {{ usage.service.name }}
            </div>
            <div class="inline-block w-1/5">
                <a target="_blank" href="{{ usage.service.publicUrl }}">{{ usage.service.publicUrl }}</a>
            </div>
            <div class="inline-block w-1/5">
                {{ usage.quota }}
            </div>
            <div class="inline-block w-1/5">
                <a href="{{ path('service_remove',{"service":usage.service.id}) }}">Unsubscribe</a><br/>
                <a href="{{ path('service_quota',{"service":usage.service.id,"quota":1}) }}">Add 1</a><br/>
                <a href="{{ path('service_quota',{"service":usage.service.id,"quota":10}) }}">Add 10</a><br/>
                <a href="{{ path('service_quota',{"service":usage.service.id,"quota":100}) }}">Add 100</a><br/>
                <a href="{{ path('service_quota',{"service":usage.service.id,"quota":"lock"}) }}">reset to 0</a><br/>
                <a href="{{ path('service_quota',{"service":usage.service.id,"quota":"inf"}) }}">Infinite</a>
            </div>
        </div>
    {% else %}
        No usage found for now
    {% endfor %}
    <br/><br/>
    <h1 class="text-4xl">Services</h1>

    {% for service in services %}
        {% if service.name not in usedServices %}
            <div class="border-b">
                <div class="inline-block w-2/5">
                    {{ service.name }}
                </div>
                <div class="inline-block w-1/5">
                    <a target="_blank" href="{{ service.publicUrl }}">{{ service.publicUrl }}</a>
                </div>
                <div class="inline-block w-1/5">
                    <a href="{{ path('service_add',{"service":service.id}) }}">Subscribe</a>
                </div>

            </div>
        {% endif %}

    {% endfor %}
{% endblock %}
