{% extends 'base.html.twig' %}

{% block title %}API credentials{% endblock %}

{% block body %}
    <div class="h-10">
        <a class="button button-success" href="{{ path('credentials_add') }}">Add Credentials</a>
    </div>


    <div class="border-b ">
        <div class="inline-block w-1/5">
            Name
        </div>
        <div class="inline-block w-1/5">
            Created At
        </div>

        <div class="inline-block w-1/5">
            Type
        </div>
        <div class="inline-block w-1/5">
            Action
        </div>
    </div>
    {% for credentials in credentialsList %}
        <div class="border-b">
            <div class="inline-block w-1/5">
                {{ credentials.name }}
            </div>
            <div class="inline-block w-1/5">

                {{ credentials.createdAt|date }}
            </div>

            <div class="inline-block w-1/5">

                {{ credentials.type }}
            </div>
            <div class="inline-block w-1/5">
                <a href="{{ path('credentials_delete',{credentials: credentials.id}) }}">delete</a>
            </div>
        </div>
    {% else %}
        No credential found, create new one.
    {% endfor %}
{% endblock %}
