<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body class="bg-gray-50">

<nav class=" flex px-5 py-4 justify-between" style="background-color: #ffccdd;">

    <!-- left side -->
    <div class="flex items-center space-x-3">
        <a href="{{ path('main') }}">
        <img class="w-12" src="{{ asset('mf.png') }}"/>
        </a>
    </div>

    <!-- right side -->
    <div class="flex items-center space-x-3">
        {% if is_granted("ROLE_USER") %}
           <span class="block p-3"> {{ app.user.userIdentifier }}</span>
            <a class="block p-3" href="{{ path('credentials') }}">Credentials</a>
            <a class="block p-3" href="{{ path('app_logout') }}">Logout</a>

        {% else %}

        <a class="block p-3" href="{{ path('app_login') }}">Login</a>
        <a class="block p-3" href="{{ path('app_register') }}">Register</a>
        {% endif %}

    </div>
</nav>

<div class="container mx-auto">

    {% for message in app.flashes('credentials') %}
        <div class="flash-notice">
            Here are your credentials : <span class="font-black">Note them, they wont show twice</span>
            <code>
            {{ message }}
            </code>
        </div>
    {% endfor %}

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="text-white px-6 py-4 border-0 rounded relative mb-4 bg-blueGray-500">
              <span class="text-xl inline-block mr-5 align-middle">
                <i class="fas fa-bell" />
              </span>
                            <span class="inline-block align-middle mr-8">
                <b class="capitalize">{{ label }}!</b> {{ messages }}
              </span>
            </div>
        {% endfor %}
    {% endfor %}


    <div class="mt-4 p-4 rounded-l bg-white border-gray-200 border">
    {% block body %}{% endblock %}
    </div>
</div>
</body>
</html>
